@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

body {
  -webkit-user-select: none;
  user-select: none;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}

button {
  -webkit-app-region: no-drag;
}
